/* typo Fonts */
$font_size_p: 16px;
$font_size_li: 12px;
$font_size_h1: 38px;
$font_size_h2: 38px;
$font_size_h3: 38px;
$font_size_h1_mobile: 26px;
$font_size_h2_mobile: 26px;
$font_size_h3_mobile: 26px;

/* colors */
$black: black;
$white: white;
$grey: grey;
$red: red;
$yellow: yellow;


