@tailwind base;
@tailwind components;
@tailwind utilities;



#bord1:hover{
border-radius: 40px;
transition: 1s;

}


#bord1:hover  #jahr-hover-id{
    font-size:2rem;
   
    
}
    
@media (min-width: 320px) and (max-width: 480px) {
  
    #bord1:hover  #jahr-hover-id{
        font-size:1rem;
       
        
    }
    
  }

.justifynospace{
    text-align-last: none  !important;
}