@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/src/constants/style/variables.scss";

html{

    scroll-behaviour: smooth;
}
.breitelinks{
   
    margin-right: 5rem !important;
    //margin-top: 0%;

}

/* Rounded border */
.rounded {
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 3px;
  }

  .abstandOben{
      margin-top: 7.2rem;
      margin-left: 0px !important;
  }

  .sticky-button{
    position: sticky;
    top: 80%; 
    left:2%;
  }

  .bg-gradient{

    background: linear-gradient(90deg, $blue 90%, $grey 10%);
  }
  .bg-gradient-3{

    background: linear-gradient(90deg, $grey 90%, $blue 10%);
  }


  .position-left{
      left:82.5%;
  }